* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*only useful if i target page sections in anchors */
    font-size: 16px;
}

body {
    font-family: 'Lora', 'San-Serif';
    background-color: #fdfcf9;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /*does allow content to become bigger than the screen, avoids horizontal scroll*/
}

/*back vid and overlay for readability*/ 

#background-vid {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

#index-hero-section::before, 
#hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* hero sections */

#index-hero-section,
#hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

#index-hero-section {
    height: 100vh;
}

#hero-section {
    height: 40vh;  /*allows space for website content */
}

.hero-section-header {
    font-size: clamp(6rem, 8vw, 8rem);
    font-weight: 700;
    margin-bottom: 1rem;
    z-index: 1;
}

/* Nav */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.75rem;
    z-index: 1;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.nav a:hover {
    transform: scale(1.1);
}

/* main content */

#main-content {
    position: relative;
    z-index: 2;
    background-color: #d7ad37;
    color: white;
}

.content-section-header {
    font-size: 4rem;
    color: white;
    padding-left: 2rem;
}

.header,
.contact-header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-header {
    text-align: center;
}

.content {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    display: flex;
    max-width: 50%;
}

.section1, .section2 ,.section3 {
    padding: 4rem 2rem;
    color: white;
    height: 100vh;
    
}
.section1 {
    background: url('images/scroll1.png') center/cover no-repeat;  
}

.section2 {
    background: url('images/scroll2.png') center/cover no-repeat;
}

.block-inner {
    display: flex;
    flex-direction: row;

}

.section3 {
    background: url('images/scroll3.png') center/cover no-repeat;
}

.sectionfour1, .sectionfour2, .sectionfour3, .sectionfour4 {
    padding: 4rem 2rem;
    color: white;
    height: 100vh;
}

.sectionfour1 {
    background: url('images/4scroll1.png') center/cover no-repeat;
}

.sectionfour2 {
    background: url('images/4scroll2.png') center/cover no-repeat;
}

.sectionfour3 {
    background: url('images/4scroll3.png') center/cover no-repeat;
}

.sectionfour4 {
    background: url('images/4scroll4.png') center/cover no-repeat;
}

nav.top a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: inherit;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

nav.top a:hover {
    scale:1.1 ;
}
/*images and layout */

.explore-layout {
    display: flex;
    gap: 2rem;

}

.explore-pic, .livework-pic, .culture-pic {
    max-width:50%;
    max-height:600px;
    height: auto;
    border: 4px solid white;
    border-radius: 20px;
    flex-shrink: 0;
    margin: 0 auto;
}

.getting-pic {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    border: 4px solid white;
    
}

/* form styling */

#form {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: inherit;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    min-width: 350px;
    max-width: 700px;
    margin: 0 auto;
    /* add a thin border here */
}

#form label {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

#form textarea {
    width: 100%;
    min-height: 300px;
    display: block;
    margin: 0 auto;
}

#form input[type="submit"] {
    display: block;
    margin: 8px auto;
    text-align: center;
}

#marketing {
    display: flex;
    align-items: center;
}

#marketing label {
    padding-left: 2rem;
}

#marketing input {
    scale: 1.3;
}

/* social media icons */

.social-section {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    margin-bottom: 1rem;
}

.fa {
    padding: 15px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: opacity 0.3s;
    margin-bottom: 4rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%);
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Tabs */

.tab-container {
    max-width: 75%;
    margin: 2rem auto;
    font-family: inherit;
}

input[type="radio"] {
    display: none;
}

.tab-label {
    display:inline-block; 
    padding: 1rem;
    background: #d7ad37;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: -1px;
    color: white;
    transition: background 0.3s;
    font-family: inherit;
    font-size: 16px;   
}

.tab-label:hover {
    background: #ddd;
}

input:checked + .tab-label {
    background: #edbe3e;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 1rem;
    display: none;
    background-color: #d7ad37;
    color: white;
    width: 100%;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display:block;
    
}

.tab-inner {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: row;
}

/* responsive design */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    #explore-pic {
        max-width: 100%;
    }

    .content-section-header {
        font-size: 2rem;
    }

    .hero-section-header {
        font-size: 4rem;
    }

    .content {
        max-width: 100%;
    }
    /* add newer sections into here */
}